//global
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//colors
$color-main: #609d9f;
$color-background: #adaeae;
$color-light: #ffffff;
$color-danger: #ffa500;

// typography
$base-size: 10px;
$font-main: 'Roboto',
sans-serif;

//transition
$transition: all .4s ease;;

//container
body {
  font-family: $font-main;
  min-height: 100vh;
  background: $color-background;
  font-size: $base-size;
}


//form and submit
header {
  font-size: (1.8 * $base-size);
  text-transform: uppercase;
  min-height: 20vh;
}

header,
form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {

  input,
  button {
    border: none;
    font-size: (2 * $base-size);
    padding: $base-size;
    background-color: $color-light;
    outline: none;
  }
}


form button {
  color: $color-main;
  background: $color-light;
  cursor: pointer;
  transition: $transition;

  &:hover {
    background: $color-main;
    color: $color-light;
  }
}

//to do list items
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 40%;
  list-style: none;
}

.todo {
  background: $color-light;
  margin: $base-size / 2;
  display: flex;
  font-size: $base-size * 1.8;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 $base-size;
  transition: $transition;

  li {
    flex: 1;

    &::first-letter{
      text-transform: capitalize;
    }
  }

  .trash-btn,
  .complete-btn {
    background: $color-main;
    color: $color-light;
    padding: $base-size * 1.5;
    border: 4px solid transparent;
    cursor: pointer;
    font-size: $base-size * 2;
    outline: none;
    transition: $transition;
  }

  .complete-btn{
    margin-left: $base-size;

    &:hover {
      background: $color-light;
      color: $color-main;
      border: solid 4px $color-main;
    }
  }

  .trash-btn {
    background: $color-danger;

    &:hover {
      background: $color-light;
      color: $color-danger;
      border: solid 4px $color-danger;
    }
  }

}

.fa-trash,
.fa-check{
  pointer-events: none;
}

.completed{
  opacity: .4;
  text-decoration: line-through;
}

//animation remove item
.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}
// select element
select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  width: $base-size * 18 ;
  cursor: pointer;
  font-size: $base-size * 2;
  padding: $base-size;
  background: $color-light;
}

.select{
  margin: 1rem;
  position: relative;
  overflow: hidden;
  color: $color-light;

  &::after{
    content: '\25BC';
    position: absolute;
    background: $color-main;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: $base-size * 1.5;
    pointer-events: none;
    transition: $transition;
  }
}

.select:hover::after{
  background: $color-light;
  color: $color-main;
}

