//global
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//colors
$color-main: #609d9f;
$color-background: #adaeae;
$color-light: #ffffff;
$color-danger: #ffa500;

// typography
$base-size: 10px;
$font-main: 'Roboto',
sans-serif;

//container
body {
  font-family: $font-main;
  min-height: 100vh;
  background: $color-background;
  font-size: $base-size;
}


//form and submit
header {
  font-size: (1.8 * $base-size);
  text-transform: uppercase;
  min-height: 20vh;
}

header,
form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {

  input,
  button {
    border: none;
    font-size: (2 * $base-size);
    padding: $base-size;
    background-color: $color-light;
    outline: none;
  }
}


form button {
  color: $color-main;
  background: $color-light;
  cursor: pointer;
  transition: all .4s ease;

  &:hover {
    background: $color-main;
    color: $color-light;
  }
}

//to do list items
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 40%;
  list-style: none;
}

.todo {
  background: $color-light;
  margin: $base-size / 2;
  display: flex;
  font-size: $base-size * 1.8;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 $base-size;

  li {
    flex: 1;

    &::first-letter{
      text-transform: capitalize;
    }
  }

  .trash-btn,
  .complete-btn {
    background: $color-main;
    color: $color-light;
    padding: $base-size * 1.5;
    border: none;
    cursor: pointer;
    font-size: $base-size * 2;
    outline: none;
  }

  .complete-btn{
    margin-left: $base-size;
  }

  .trash-btn {
    background: $color-danger;
  }

}