//global
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//colors
$color-main: #609d9f;
$color-light: #ffffff;

// typography
$base-size: 10px;
$font-main: 'Roboto',
sans-serif;

//container
body {
  font-family: $font-main;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $base-size;
}

.app-container {
  min-width: 600px;
  min-height: 90vh;
  border: solid 1px black; //temporary
  padding: $base-size;
  background-color: $color-main;
}

//form and submit
header {
  font-size: (1.8 * $base-size);
  text-transform: uppercase;
}

header,
form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  border: none;
  font-size: (2 * $base-size);
  padding: $base-size;
  background-color: $color-light;
  outline: none;
}

form button {
  color: $color-main;
  background: $color-light;
  cursor: pointer;
  transition: all .4s ease;

  &:hover {
    background: $color-main;
    color: $color-light;
  }

}
//